* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  background: #010629e3;
}

.navbar {
  background-color: #0106299d;
  color: azure;
  font-weight: 800;
  /* border: 2px solid #010629e3; */
  box-shadow: 2px 4px 4px rgba(247, 3, 3, 0.778); /* Adjust as needed */
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 0px;
}

.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;

  margin: auto;
}

.navbar a {
  text-decoration: none;
  color: azure;
  font-weight: 800;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: lightblue;
}

ul {
  list-style: none;
}

.navbar ul {
  display: flex;
}

.nav li {
  margin-left: 15px;
}

.logo {
  font-size: 2rem;
  justify-self: center;
  align-self: center;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  height: 400px;
  width: 400px;
  padding: 5px;

  margin: 5px;
}

.header-text {
  color: #fff;
  font-weight: 800;
  text-align: left;
  text-overflow: clip;
}

header {
  background-color: #03072b;
  background-repeat: no-repeat;
  background-image: url("./Diwali/back3.jpeg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
}

header p {
  text-align: justify;
  margin: 30px 0;
  max-width: 500px;
  font-size: 1.5rem;
  line-height: 1.5;
}

.boxes {
  background-repeat: no-repeat;
  background-image: url("./Diwali/diwaliback2.jpeg"),
    url("./Diwali/diwaliback1.jpeg");
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
  background-size: 50%, 50%;
}

.boxes .container {
  display: flex;
  max-width: 1400px;
  justify-content: space-between;
}

.box {
  flex: 1;
  color: #fff;
  margin: 30px 5px;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  background-color: #57101a;
}
.header-text h1 {
  font-size: 2.5rem;
}

#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }

  header p {
    max-width: 400px;
    margin: 5px 5px;
    align-self: center;
    justify-self: center;
    text-align: center;
  }

  .container .header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container .header-text h1 {
    font-size: 3rem;
    font-weight: bolder;
  }

  img {
    height: 300px;
    width: 300px;
    padding: 2px;

    margin: 2px;
    margin-bottom: 5px;
    padding-bottom: 10px;
  }

  .boxes .container {
    display: block;
    text-align: center;
  }
}
